.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  img{
    width: 200px;
    margin-bottom: 12px;
  }

  mat-form-field {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
